// @import "libs";
// @import "helpers/variables";
// @import "helpers/mixins";
// @import "general/fonts";
// @import "general/base";
// @import "../blocks/blocks";

/* Подключенные шрифты
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/




$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$btn-shadow: #b2f1be;
$btn_main-shadow: #59ba88;




body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    letter-spacing: 1.2px;
    margin-bottom: 17px;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

em {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: $accent-color;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;

    &_books {
        text-align: center;
    }
}

.page-main {
    background-image: url("../img/page-main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
}

.page {
    padding-top: 160px;

    &_gray {
        padding-bottom: 240px;
        background-color: $bg-light-color;
    }

    &_blog {
        padding-bottom: 145px;
        background-color: $bg-light-color;
    }

    &__title {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 84px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 1.9px;
    }

    span {
        display: block;
        margin-top: 23px;
        font-size: 18px;
        font-weight: 400;
        color: $accent-color;
        letter-spacing: .9px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 162px;

    &__logo {
        display: block;
        width: 140px;
        height: 28px;
        background-image: url("../img/logo.png");
    }

    &-list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
    
        &__item {
            margin-left: 25px;
            padding-bottom: 3px;
            border-bottom: 0px solid $accent-color;
            transition: .1s;

            &:hover{
                border-bottom: 3px solid $accent-color;
            }
        }

        &__item.active {
            border-bottom: 3px solid $accent-color;
        }

        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: .6px;
        }
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 158px;

    &-cover {
        display: block;
        position: relative;
        background-image: url("../img/book.png");
        background-repeat: no-repeat;
        width: 447px;
        height: 643px;
        flex-basis: 500px;

        &__header {
            top: 120px;
            letter-spacing: 1.3px;
            position: absolute;
            left: calc(50% - 120px);
            font-weight: 700;
            font-size: 36px;
            color: $light-color;
    
            span {
                display: block;
                margin-top: 8px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: .7px;
                color: $accent-color;
            }
        }
    
        &__author {
            position: absolute;
            bottom: 55px;
            left: 86px;
            letter-spacing: 0.7px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: $accent-color;
        } 
    }
}

.block-text {
    flex-basis: calc(100% - 500px);
    max-width: 590px; /* Видимо, временно. Из-за ширины моего монитора абзацы сужаются, и страница не совпадает с PerfectPixel */
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.75px;

    &__name {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 18px;
        letter-spacing: .9px;
    }

    &__name_top {
        margin-top: 16px;
        margin-bottom: 38px;
    }

    &__title {
        margin-top: -6px;
        margin-bottom: 40px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 1.9px;

        span {
            display: block;
            margin-top: 24px;
            font-size: 18px;
            font-weight: 400;
            color: $accent-color;
            letter-spacing: .9px;
        }
    }

    &__description {

        margin-bottom: 25px;
        font-size: 15px;
        line-height: 24px;

        &_events {
            margin-top: 16px;
        }
    }

    &__btn {
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 13px 25px;
        border-radius: 3px;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: $light-color;
        text-align: center;
        background: linear-gradient(to right, #65e49c, #65e4b0);
        box-shadow: 0 2px $btn-shadow;

        &_main {
            box-shadow: 0 2px $btn_main-shadow;
        }

        &_books {
            margin-top: 83px;
            padding: 13px 38px;
            letter-spacing: .8px;
        }

        &_events {
            margin-bottom: 54px;
            margin-top: 0;
            padding: 13px 31px;
        }

        &_blog {
            padding: 13px 40px;
        }
    }

    small { 
        font-style: italic;
        font-size: 12px;
        letter-spacing: .6px;
    }

    &__note {
        display: block;
    }

    &__date {
        margin-bottom: 4px;
    }
}

.block-author {
    display: flex;
    justify-content: space-between;
}

.block-ava {
    position: relative;

    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;

        &_left {
            right: inherit;
            top: 19px;
            left: -20px;
        }
    }

    &__img {
        margin-top: 48px;
        margin-right: 43px;

        &_left {
            margin-left: 31px;
            margin-top: 68px;   
        }
    }
}

.counter {
    display: flex;
    justify-content: space-around;
    margin-top: 188px;
    margin-bottom: 158px;

    span {
        display: block;
        margin-bottom: 45px;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        font-size: 80px;
        color: $accent-color;
    }

    p {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
}

.block-about {
    display: flex;
    justify-content: space-between;

    p {
        margin-bottom: 16px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: .75px;
    }

    &-text {
        flex-basis: 40%;
    }

    &__subheader {
        display: inline-block;
    }

    &__links {
        display: inline-block;
        padding-left: 20px;
        list-style-type: none;
        letter-spacing: 6px;

        &>li {
            display: inline-block;
            font-size: 18px;

            &>a {
                color: $accent-color;
            }
        }
    }

    &-table {
        flex-basis: 50%;
    }

    &__list {
        margin: 25px 0 0 0;
        padding: 0;
        counter-reset: list;
        column-count: 2;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: .75px;

        &>li {
            position: relative;
            margin-bottom: 8px;
            padding-left: 35px;
            counter-increment: list;
            list-style-type: none;

            &::before {
                content: counter(list) ". ";
            }

            &::after {
                position: absolute;
                left: 0;
                content: "+";
                display: inline-block;
                padding: 0 7px;
                background-color: #5fc9b3;
                text-align: center;
                line-height: 22px;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                color: $light-color;
            }
        }
    }

    &__btn {
        border-style: none;
        padding-left: 45px;
        padding-right: 45px;
    }
}

.books {
    display: flex;

    &__cover {

        p {
            font-family: 'Open Sans', sans-serif;
            letter-spacing: .7px;
            margin: 0 10px 17px 10px;
        }
    }

    &__title {
        position: absolute;
        top: 70px;
        left: 132px;
        color: $light-color;

        span {
            display: block;
            margin-top: 8px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            letter-spacing: .6px;
        }
    }

    &__img {
        position: relative;
        margin-bottom: 30px;

        p {
            position: absolute;
            bottom: 33px;
            left: 142px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            letter-spacing: .6px;
            color: $accent-color;
        }
    }

    &__link {
        text-decoration: none;
        color: $accent-color;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        margin: 0 15px;
        text-align: left;
    }

    &__img {
        width: 369px;
        height: 224px;
        margin-bottom: 16px;
    }

    &__article-title {
        margin-bottom: 2px;
    }

    &__sign {
        margin-bottom: 12px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: .75px;
    }

    & p {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: .75px;
    }
}